Repository vtabary/translatol: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{html,json,js,css,md}": "prettier --write"
}

fix: update README and configuration files
  .lintstagedrc
  README.md
  angular.json
  package.json
Due: prettier --write

feat: build releases on Travis
  .gitignore
  .travis.yml
  README.md
  yarn.lock
Due: prettier --write

0.1.0
  package.json
Due: prettier --write

feat: add a component to copy to clipboard fix: a translation item could throw when a target is an object
  CHANGELOG.md
  src/app/app.module.ts
  src/app/modules/home/components/history/history.component.html
  src/app/modules/home/components/history/history.component.ts
  src/app/modules/shared/components/copy-to-clipboard/copy-to-clipboard.component.html
  src/app/modules/shared/components/copy-to-clipboard/copy-to-clipboard.component.scss
  src/app/modules/shared/components/copy-to-clipboard/copy-to-clipboard.component.spec.ts
  src/app/modules/shared/components/copy-to-clipboard/copy-to-clipboard.component.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/translations/components/translation-item/translation-item.component.ts
  src/app/modules/translations/components/translation-search/translation-search.component.html
  src/app/modules/translations/components/translation/translation.component.html
  src/app/modules/translations/components/translation/translation.component.ts
  src/app/modules/translations/module.ts
  src/app/modules/translations/services/tree-builder/tree-builder.service.ts
  src/app/pages/main-layout/main-layout.component.html
Due: eslint --fix, prettier --write

feat: use github actions to release and test
  .github/workflows/release.yml
  .github/workflows/testing.yml
  .travis.yml
Due: none

0.1.1
  package.json
Due: prettier --write

feat: push new tag version automatically
  package.json
Due: prettier --write

fix: update the README file with the right badge
  .github/workflows/release.yml
  README.md
Due: prettier --write

feat: add automatic build for windows
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier --write

fix: update CHANGELOG
  CHANGELOG.md
Due: prettier --write

0.1.2
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: upgrade to angular 13
  .gitignore
  package.json
  src/polyfills.ts
  src/test.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrade to angular 14
  angular.json
  package.json
  src/app/modules/translations/components/translation-item/translation-item.component.ts
  src/app/modules/translations/components/translation-language/translation-language.component.ts
  src/app/modules/translations/components/translation-search/translation-search.component.ts
  src/app/modules/translations/components/translation/translation.component.ts
  src/app/modules/translations/pages/translations/translations.component.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrade to angular 15
  angular.json
  package.json
  src/app/app-routing.module.ts
  src/test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: migrate to nx repo
  .vscode/extensions.json
  angular.json
  nx.json
  package.json
  project.json
  yarn.lock
Due: prettier --write

fix: remove deprecated option on angular serve
  angular.json
  package.json
Due: prettier --write

feat: upgrade to angular 13
  .gitignore
  package.json
  src/polyfills.ts
  src/test.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: upgrade to angular 14
  angular.json
  package.json
  src/app/modules/translations/components/translation-item/translation-item.component.ts
  src/app/modules/translations/components/translation-language/translation-language.component.ts
  src/app/modules/translations/components/translation-search/translation-search.component.ts
  src/app/modules/translations/components/translation/translation.component.ts
  src/app/modules/translations/pages/translations/translations.component.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: upgrade to angular 15
  .browserslistrc
  package.json
  src/app/app-routing.module.ts
  src/test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: fix translatol-electron-app build
  package.json
  translatol-electron-app/project.json
  translatol-electron-app/tsconfig.json
Due: prettier --write

fix: trim search string
  src/app/modules/shared/services/electron/electron.service.spec.ts
  src/app/modules/translations/pages/translations/translations.component.spec.ts
  src/app/modules/translations/pages/translations/translations.component.ts
Due: eslint --fix, prettier --write

fix: use a compatible @electron/remote to electron 14
  electron.js
  package.json
Due: prettier --write

fix: no formatting for text nodes
  package.json
  src/app/modules/translations/services/file/file.service.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(style): update the center of text and badge
  src/app/modules/translations/components/file-list/file-list.component.html
  src/app/modules/translations/components/translation-list/translation-list.component.html
  src/app/modules/translations/components/translation-list/translation-list.component.scss
  src/app/modules/translations/components/translation-navigation/translation-navigation.component.html
  src/styles.scss
Due: prettier --write

fix(style): change header of translations
  src/app/modules/translations/components/translation-search/translation-search.component.html
  src/app/modules/translations/components/translation-search/translation-search.component.scss
  src/app/modules/translations/pages/translations/translations.component.html
  src/app/modules/translations/pages/translations/translations.component.scss
Due: prettier --write

fix: improve vscode extension
  package.json
  translatol-vscode-extension/package.json
  translatol-vscode-extension/project.json
  translatol-vscode-extension/src/assets/icons/translate-dark.svg
  translatol-vscode-extension/src/assets/icons/translate-light.svg
  translatol-vscode-extension/src/commands/open-translate-view.ts
  translatol-vscode-extension/src/editors/translatol-editor.ts
  translatol-vscode-extension/src/editors/translatol-panel.ts
  translatol-vscode-extension/src/main.ts
  translatol-vscode-webview/src/app/app.module.ts
  translatol-vscode-webview/src/app/app.routes.ts
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.html
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.scss
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.spec.ts
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.ts
Due: eslint --fix, prettier --write

fix(style-electron): change button margin on browse
  translatol-electron-app/src/app/modules/home/components/folder-opener/folder-opener.component.scss
  translatol-electron-app/src/app/modules/home/components/folder-opener/folder-opener.component.ts
  translatol-electron-app/src/app/modules/home/components/opener/opener.component.scss
  translatol-electron-app/src/app/modules/translations/services/path/path.service.spec.ts
Due: eslint --fix, prettier --write

feat: detect duplicated keys
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.html
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.scss
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.spec.ts
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.ts
  translatol-shared-module/src/lib/components/translation-duplicated-list/translation-duplicated-list.component.html
  translatol-shared-module/src/lib/components/translation-duplicated-list/translation-duplicated-list.component.scss
  translatol-shared-module/src/lib/components/translation-duplicated-list/translation-duplicated-list.component.spec.ts
  translatol-shared-module/src/lib/components/translation-duplicated-list/translation-duplicated-list.component.ts
  translatol-shared-module/src/lib/components/translation-navigation/translation-navigation.component.html
  translatol-shared-module/src/lib/components/translation-navigation/translation-navigation.component.ts
  translatol-shared-module/src/lib/components/translations/translations.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.ts
  translatol-shared-module/src/lib/services/translations/translations.service.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
Due: eslint --fix, prettier --write

fix(notification): make it work for electron and extension with low cost
  translatol-electron-app/src/app/modules/shared/components/notification/notification.component.scss
  translatol-electron-app/src/app/modules/shared/components/notification/notification.component.ts
  translatol-electron-app/src/app/modules/shared/public-api.ts
  translatol-electron-app/src/app/modules/shared/services/notification/notification.service.ts
  translatol-electron-app/src/app/modules/shared/shared.module.ts
  translatol-electron-app/src/app/pages/main-layout/main-layout.component.html
  translatol-shared-module/src/lib/components/notification/notification.component.html
  translatol-shared-module/src/lib/components/notification/notification.component.spec.ts
  translatol-shared-module/src/lib/components/notification/notification.component.ts
  translatol-shared-module/src/lib/components/translations/translations.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.ts
  translatol-shared-module/src/lib/services/notification/notification.service.spec.ts
  translatol-shared-module/src/lib/services/notification/notification.service.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
Due: eslint --fix, prettier --write

feat(delete-obsolete): delete obsolete key in xlf file
  translatol-electron-app/src/app/modules/translations/module.ts
  translatol-shared-module/src/lib/components/modal/modal.component.html
  translatol-shared-module/src/lib/components/modal/modal.component.ts
  translatol-shared-module/src/lib/components/notification/notification.component.html
  translatol-shared-module/src/lib/components/notification/notification.component.ts
  translatol-shared-module/src/lib/components/translation/translation.component.scss
  translatol-shared-module/src/lib/components/translation/translation.component.ts
  translatol-shared-module/src/lib/components/translations/translations.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.ts
  translatol-shared-module/src/lib/services/notification/notification.service.ts
  translatol-shared-module/src/lib/services/translations/translations.service.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
Due: eslint --fix, prettier --write

fix: specs are now faster
  .github/workflows/release.yml
  .github/workflows/testing.yml
  apps/ui/src/app/modules/home/pages/home/home.component.spec.ts
  apps/ui/src/app/modules/translations/services/file/file.service.ts
  apps/ui/src/app/modules/translations/services/translations/translations.service.ts
  jest.config.ts
Due: eslint --fix, prettier --write

feat: save file
  package.json
  translatol-electron-app/src/app/app.module.ts
  translatol-electron-app/src/app/modules/translations/services/file/file.service.ts
  translatol-electron-app/src/app/modules/translations/services/xliff-resolver/xliff-resolver.service.spec.ts
  translatol-electron-app/src/app/modules/translations/services/xliff-resolver/xliff-resolver.service.ts
  translatol-shared-module/package.json
  translatol-shared-module/src/lib/components/translations/translations.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.ts
  translatol-shared-module/src/lib/models/xliff-file.service.interface.ts
  translatol-shared-module/src/lib/services/translations/translations.service.ts
  translatol-shared-module/src/lib/services/xliff-resolver/xliff-resolver.service.spec.ts
  translatol-shared-module/src/lib/services/xliff-resolver/xliff-resolver.service.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
  translatol-shared-module/src/public-api.ts
  translatol-vscode-extension/src/commands/open-translate-view.ts
  translatol-vscode-extension/src/panels/translatol-panel.ts
  translatol-vscode-webview/project.json
  translatol-vscode-webview/src/app/app.module.ts
  translatol-vscode-webview/src/app/app.routes.ts
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.html
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.ts
  translatol-vscode-webview/src/app/services/file/file.service.spec.ts
  translatol-vscode-webview/src/app/services/file/file.service.ts
  translatol-vscode-webview/src/app/services/post-message/post-message.service.ts
  translatol-vscode-webview/src/app/services/vscode-xliff-resolver/vscode-xliff-resolver.service.spec.ts
  translatol-vscode-webview/src/app/services/vscode-xliff-resolver/vscode-xliff-resolver.service.ts
  translatol-vscode-webview/src/styles.scss
  translatol-vscode-webview/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: disable keys cleanup when duplicated keys
  translatol-shared-module/src/lib/components/translations/translations.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.scss
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
Due: eslint --fix, prettier --write

fix: improve vscode/electron abstraction
  translatol-electron-app/src/app/app.module.ts
  translatol-electron-app/src/app/modules/translations/app-routing.module.ts
  translatol-electron-app/src/app/modules/translations/module.ts
  translatol-electron-app/src/app/modules/translations/services/electron-xliff-resolver/electron-xliff-resolver.service.spec.ts
  translatol-electron-app/src/app/modules/translations/services/electron-xliff-resolver/electron-xliff-resolver.service.ts
  translatol-electron-app/src/app/modules/translations/services/path/path.service.ts
  translatol-electron-app/src/app/modules/translations/services/xliff-resolver/xliff-resolver.service.ts
  translatol-shared-module/src/lib/components/translations/translations.component.ts
  translatol-shared-module/src/lib/models/reload-route-reuse-strategy/reload-route-reuse-strategy.ts
  translatol-shared-module/src/lib/models/template-file.service.interface.1.ts
  translatol-shared-module/src/lib/models/xliff-file.service.interface.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
  translatol-shared-module/src/public-api.ts
  translatol-vscode-extension/src/panels/translatol-panel.ts
  translatol-vscode-webview/src/app/app.module.ts
  translatol-vscode-webview/src/app/app.routes.ts
  translatol-vscode-webview/src/app/services/vscode-xliff-resolver/vscode-xliff-resolver.service.ts
Due: eslint --fix, prettier --write

fix: faster tests
  apps/ui/jest.config.ts
  apps/ui/src/app/modules/home/components/folder-opener/folder-opener.component.spec.ts
  apps/ui/src/app/modules/translations/components/translation/translation.component.ts
  apps/ui/src/app/modules/translations/services/file/file.service.ts
  jest.config.ts
Due: eslint --fix, prettier --write

fix: write in clipboard
  translatol-electron-app/src/app/modules/shared/shared.module.ts
  translatol-shared-module/src/lib/components/copy-to-clipboard/copy-to-clipboard.component.html
  translatol-shared-module/src/lib/components/copy-to-clipboard/copy-to-clipboard.component.scss
  translatol-shared-module/src/lib/components/copy-to-clipboard/copy-to-clipboard.component.spec.ts
  translatol-shared-module/src/lib/components/copy-to-clipboard/copy-to-clipboard.component.ts
  translatol-shared-module/src/lib/components/translation/translation.component.html
  translatol-shared-module/src/lib/services/clipboard/clipboard.service.spec.ts
  translatol-shared-module/src/lib/services/clipboard/clipboard.service.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
  translatol-shared-module/src/public-api.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: cleanup vscode extension code base
  translatol-vscode-extension/src/commands/open-translate-view.ts
  translatol-vscode-extension/src/editors/translatol-editor.ts
  translatol-vscode-extension/src/main.ts
  translatol-vscode-extension/src/panels/translatol-panel.ts
  translatol-vscode-extension/src/utils/get-nonce.ts
  translatol-vscode-extension/src/utils/get-web-view-html.ts
  translatol-vscode-webview/src/app/app.component.ts
  translatol-vscode-webview/src/app/app.module.ts
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.html
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.scss
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.spec.ts
  translatol-vscode-webview/src/app/pages/translate-page/translate-page.component.ts
Due: eslint --fix, prettier --write
