Repository vtabary/translatol: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{html,json,js,css,md}": "prettier --write"
}

fix: share icons
  translatol-electron-app/src/app/modules/shared/shared.module.ts
  translatol-electron-app/src/app/modules/translations/module.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
Due: eslint --fix, prettier --write

fix: improve vscode extension codebase
  translatol-vscode-extension/package.json
  translatol-vscode-extension/src/commands/open-translate-view.ts
  translatol-vscode-extension/src/panels/translatol-panel.ts
  translatol-vscode-webview/src/app/services/post-message/post-message.service.ts
Due: eslint --fix, prettier --write

feat: add test sample
  sample/sample.fr.xlf
  sample/sample.messages.xlf
Due: none

feat(plural-trad): display plural traduction
  package.json
  translatol-electron-app/src/app/modules/translations/services/file/file.service.ts
  translatol-shared-module/src/lib/components/translation-interpolation/translation-interpolation.component.html
  translatol-shared-module/src/lib/components/translation-interpolation/translation-interpolation.component.scss
  translatol-shared-module/src/lib/components/translation-interpolation/translation-interpolation.component.ts
  translatol-shared-module/src/lib/components/translation-item/translation-item.component.html
  translatol-shared-module/src/lib/components/translation-item/translation-item.component.ts
  translatol-shared-module/src/lib/components/translation-plural/translation-plural.component.html
  translatol-shared-module/src/lib/components/translation-plural/translation-plural.component.scss
  translatol-shared-module/src/lib/components/translation-plural/translation-plural.component.ts
  translatol-shared-module/src/lib/components/translation/translation.component.html
  translatol-shared-module/src/lib/components/translation/translation.component.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: use translation instead of text
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.html
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.ts
  translatol-shared-module/src/lib/components/translation-duplicated-list/translation-duplicated-list.component.html
Due: eslint --fix, prettier --write

fix(plural-trad): delete circular component
  translatol-shared-module/src/lib/components/translation-plural/translation-plural-item/translation-plural-item.component.html
  translatol-shared-module/src/lib/components/translation-plural/translation-plural-item/translation-plural-item.component.scss
  translatol-shared-module/src/lib/components/translation-plural/translation-plural-item/translation-plural-item.component.spec.ts
  translatol-shared-module/src/lib/components/translation-plural/translation-plural-item/translation-plural-item.component.ts
  translatol-shared-module/src/lib/components/translation-plural/translation-plural.component.html
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
  translatol-vscode-webview/src/app/services/file/file.service.ts
Due: eslint --fix, prettier --write

feat: add samples
  sample/fr-clean.xlf
  sample/fr-duplicate.xlf
  sample/fr-obsolete.xlf
  sample/messages.xlf
Due: none

feat: add copy button for duplicated keys
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.html
  translatol-shared-module/src/lib/components/alert-warning/alert-warning.component.scss
Due: prettier --write

chore: update packaging config
  package.json
  translatol-vscode-extension/LICENSE.md
  translatol-vscode-extension/package.json
  translatol-vscode-extension/project.json
  yarn.lock
Due: prettier --write

chore: update conf and readme
  README.md
  package.json
  translatol-vscode-extension/package.json
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

fix(color): make it more beautiful on vscode
  translatol-vscode-webview/src/app/app.component.html
  translatol-vscode-webview/src/app/app.component.scss
  translatol-vscode-webview/src/app/app.component.ts
  translatol-vscode-webview/src/styles.scss
Due: eslint --fix, prettier --write

fix: correctly display tooltip
  translatol-shared-module/src/lib/components/translations/translations.component.html
Due: prettier --write

feat: use vscode native notifications
  translatol-electron-app/src/app/modules/shared/components/notification/notification.component.html
  translatol-electron-app/src/app/modules/shared/components/notification/notification.component.spec.ts
  translatol-electron-app/src/app/modules/shared/components/notification/notification.component.ts
  translatol-electron-app/src/app/modules/shared/services/notification/notification.service.spec.ts
  translatol-electron-app/src/app/modules/shared/services/notification/notification.service.ts
  translatol-electron-app/src/app/modules/shared/shared.module.ts
  translatol-electron-app/src/app/pages/main-layout/main-layout.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.html
  translatol-shared-module/src/lib/components/translations/translations.component.ts
  translatol-shared-module/src/lib/models/notification.service.interface.ts
  translatol-shared-module/src/lib/services/notification/notification.service.ts
  translatol-shared-module/src/lib/translatol-shared-module.module.ts
  translatol-shared-module/src/public-api.ts
  translatol-vscode-extension/src/panels/translatol-panel.ts
  translatol-vscode-webview/src/app/app.module.ts
  translatol-vscode-webview/src/app/services/notification/notification.service.spec.ts
  translatol-vscode-webview/src/app/services/notification/notification.service.ts
  translatol-vscode-webview/src/app/services/post-message/post-message.service.ts
Due: eslint --fix, prettier --write

fix(sidenav): show it on the right
  translatol-electron-app/src/styles.scss
  translatol-vscode-webview/src/styles.scss
Due: none

chore: update extension version
  translatol-vscode-extension/package.json
Due: prettier --write

fix: fix failing specs
  apps/ui/src/app/modules/home/components/folder-opener/folder-opener.component.spec.ts
  apps/ui/src/app/modules/home/components/history/history.component.spec.ts
  apps/ui/src/app/modules/translations/pages/folder-translations/folder-translations.component.spec.ts
  apps/ui/src/app/modules/translations/pages/no-file/no-file.component.spec.ts
  apps/ui/src/test-setup.ts
  apps/ui/src/test.ts
  libs/shared-module/src/lib/components/translations/translations.component.spec.ts
Due: eslint --fix, prettier --write

chore: strict mode
  apps/ui/project.json
  apps/ui/src/app/modules/shared/components/notification/notification.component.html
  apps/ui/src/app/modules/shared/components/notification/notification.component.ts
  apps/ui/src/app/modules/shared/services/notification/notification.service.ts
  apps/ui/tsconfig.json
  apps/vscode-extension/src/panels/translatol-panel.ts
  apps/vscode-extension/tsconfig.json
  apps/vscode-webview/project.json
  apps/vscode-webview/tsconfig.json
  libs/shared-module/src/lib/components/alert-warning/alert-warning.component.html
  libs/shared-module/src/lib/components/alert-warning/alert-warning.component.ts
  libs/shared-module/src/lib/components/translation-duplicated-list/translation-duplicated-list.component.ts
  libs/shared-module/src/lib/components/translation-interpolation/translation-interpolation.component.html
  libs/shared-module/src/lib/components/translation-interpolation/translation-interpolation.component.ts
  libs/shared-module/src/lib/components/translation-item/translation-item.component.html
  libs/shared-module/src/lib/components/translation-item/translation-item.component.ts
  libs/shared-module/src/lib/components/translation-list/translation-list.component.ts
  libs/shared-module/src/lib/components/translation-plural/translation-plural-item/translation-plural-item.component.html
  libs/shared-module/src/lib/components/translation-plural/translation-plural-item/translation-plural-item.component.ts
  libs/shared-module/src/lib/components/translation-plural/translation-plural.component.html
  libs/shared-module/src/lib/components/translation-plural/translation-plural.component.ts
  libs/shared-module/src/lib/components/translation/translation.component.html
  libs/shared-module/src/lib/components/translation/translation.component.ts
  libs/shared-module/src/lib/components/translations/translations.component.html
  libs/shared-module/src/lib/components/translations/translations.component.ts
  libs/shared-module/src/lib/functions/xliff.ts
  libs/shared-module/src/lib/pipes/end-of-string/end-of-string.pipe.ts
  libs/shared-module/src/lib/services/translations/translations.service.ts
  libs/shared-module/src/lib/services/tree-builder/tree-builder.service.ts
  libs/shared-module/tsconfig.json
Due: eslint --fix, prettier --write

chore: Add sample app to generate sample xlf files
  .eslintrc.base.json
  CHANGELOG.md
  apps/sample/.eslintrc.json
  apps/sample/jest.config.ts
  apps/sample/project.json
  apps/sample/src/app/app.component.html
  apps/sample/src/app/app.component.scss
  apps/sample/src/app/app.component.spec.ts
  apps/sample/src/app/app.component.ts
  apps/sample/src/app/app.module.ts
  apps/sample/src/app/nx-welcome.component.ts
  apps/sample/src/assets/.gitkeep
  apps/sample/src/favicon.ico
  apps/sample/src/index.html
  apps/sample/src/main.ts
  apps/sample/src/styles.scss
  apps/sample/src/test-setup.ts
  apps/sample/tsconfig.app.json
  apps/sample/tsconfig.editor.json
  apps/sample/tsconfig.json
  apps/sample/tsconfig.spec.json
  apps/ui-e2e/.eslintrc.json
  apps/ui/.eslintrc.json
  apps/vscode-extension-e2e/.eslintrc.json
  apps/vscode-extension/.eslintrc.json
  apps/vscode-webview-e2e/.eslintrc.json
  package.json
  sample/fr-clean.xlf
  sample/fr-duplicate.xlf
  sample/fr-obsolete.xlf
  sample/messages.xlf
  samples/fr-clean.xlf
  samples/fr-duplicated.xlf
  samples/fr-obsolete.xlf
  samples/messages.xlf
Due: eslint --fix, prettier --write

chore: fixing configuration for tests
  apps/ui/src/test-setup.ts
  apps/vscode-extension/jest.config.ts
  apps/vscode-webview/jest.config.ts
  libs/shared-module/src/test-setup.ts
  project.json
Due: eslint --fix, prettier --write

chore: update version scripts
  package.json
Due: prettier --write

fix: fix plural translation
  apps/sample/src/app/app.component.html
  apps/ui/src/app/modules/translations/components/file-list/file-list.component.ts
  apps/ui/src/app/modules/translations/components/translation-language/translation-language.component.ts
  apps/vscode-webview/src/styles.scss
  libs/shared-module/src/lib/components/modal/modal.component.ts
  libs/shared-module/src/lib/components/translation-navigation/translation-navigation.component.ts
  libs/shared-module/src/lib/components/translation-plural/translation-plural.component.html
  libs/shared-module/src/lib/components/translation-plural/translation-plural.component.scss
  libs/shared-module/src/lib/components/translation-plural/translation-plural.component.ts
  libs/shared-module/src/lib/components/translation/translation.component.ts
  libs/shared-module/src/lib/components/translations/translations.component.html
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update for 0.0.4 release
  apps/vscode-extension/package.json
  package.json
Due: prettier --write
